{% extends 'base.html.twig' %}

{% block body %}
  <h2 class="text-3xl">This About us About Symfony</h2>
  <img class="w-20 h-20 rounded" src="{{ asset('images/flower.jpg') }}" alt="img" />
{% endblock %}
